[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CellBarcode"]
	path = CellBarcode
	url = https://github.com/wenjie1991/cellbarcode
[submodule "scMitoMut"]
	path = scMitoMut
	url = https://github.com/wenjie1991/scmitomut
